@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat.ttf);
}

.topNav {
	height: 70px;
	width: 100%;
	font-family: 'Montserrat';
	background-color: #2e47ae;
	color: aliceblue;
	border-bottom-right-radius: 35px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.topNav__svg {
	position: fixed;
	left: 0;
	top: 69px;
	width: 70px;
	height: 70px;
}

.topNav__svg_path {
	fill: #2e47ae;
	left: 0;
}

/* .topNav::after {
	content: '';
	position: absolute;
	top: 70px;
	left: 0;
	display: block;
	width: 70px;
	height: 70px;
	background-color: #2ed7ae;
	border-top-left-radius: 35px;
} */

.topNav__content {
	width: calc(100% - 20px);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

.topNav__date {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-end;
}

/* .bottomNav {
	width: 100%;
	height: 70px;
	background-color: #2e47ae;
	color: aliceblue;
	border-top-left-radius: 35px;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
} */

/* .bottomNav__link {
	padding: 0 10px;
	border: 1px solid aliceblue;
	border-radius: 15px;
	color: aliceblue;
	background-color: rgba(255, 255, 255, 0.062);
	text-decoration: none;
} */
